## Merge Judicial Autonomy and V-Dem Datasets

In [1]:
import yaml

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
try:
    with open('../config.yaml') as file:
        config = yaml.safe_load(file)
except:
    print("Yaml file not found.")

In [3]:
# Import cleaning functions

#import sys
#sys.path.append('../py_files')
from functions import cleaning_judicial_autonomy_data
from functions import cleaning_vdem_ert_data

### 1. Load datasets

In [16]:
# Load and clean Judicial Autonomy Dataset
q1_df = pd.read_csv(config['input_data']['q1_dataset'])
q1_cleaned = cleaning_judicial_autonomy_data(q1_df) 
q1_cleaned.head()

,username,country,country_code,year,q1c1_apjuac,q1c1_apjufc,q1c1_apjuhc,q1c1_appealac,q1c1_appealfc,q1c1_appealhc,...,q1c3_sanctscale,q1c4_casealloc,q1c4_competence,q1c4_manbudget,q1c4_reasondecis,q1c4_regbudget,q1c4_sameright,q1c4_whochair,q1c4_whocharge,q1c4_whoselect
46,ALB33wGG5n,Albania,ALA,2000,0.5,0.5,0.0,0.0,0.0,0.0,...,0.5,1.0,0.0,1.0,0.0,1.0,0.0,NaN,0.5,0.5
47,ALB33wGG5n,Albania,ALA,2001,0.5,0.5,0.0,0.0,0.0,0.0,...,0.5,1.0,0.0,1.0,0.0,1.0,0.0,NaN,0.5,0.5
48,ALB33wGG5n,Albania,ALA,2002,0.5,0.5,0.0,0.0,0.0,0.0,...,0.5,1.0,0.0,1.0,0.0,1.0,0.0,NaN,0.5,0.5
49,ALB33wGG5n,Albania,ALA,2003,0.5,0.5,0.0,0.0,0.0,0.0,...,0.5,1.0,0.0,1.0,0.0,1.0,0.0,NaN,0.5,0.5
50,ALB33wGG5n,Albania,ALA,2004,0.5,0.5,0.0,0.0,0.0,0.0,...,0.5,1.0,0.0,1.0,0.0,1.0,0.0,NaN,0.5,0.5

In [4]:
# Load and clean V-Dem Episodes of Regime Transformation Dataset
vdem_df = pd.read_csv(config['input_data']['vdem_episodes_of_regime_transformation_dataset'])
vdem_cleaned = cleaning_vdem_ert_data(vdem_df)

vdem_cleaned
vdem_cleaned.head()

,country,year,reg_id,reg_type,v2x_regime,v2x_polyarchy,reg_trans,row_regch_event,dem_ep
348,Sweden,2000,SWE_1921_2023,1.0,3.0,0.914,0.0,0.0,0
349,Sweden,2001,SWE_1921_2023,1.0,3.0,0.914,0.0,0.0,0
350,Sweden,2002,SWE_1921_2023,1.0,3.0,0.914,0.0,0.0,0
351,Sweden,2003,SWE_1921_2023,1.0,3.0,0.915,0.0,0.0,0
352,Sweden,2004,SWE_1921_2023,1.0,3.0,0.915,0.0,0.0,0

In [ ]:
# Clean datasets

In [ ]:
# Merge datasets